[submodule "YueChuangJiApi"]
	path = YueChuangJiApi
	url = https://github.com/Aurora-CX-65/YueChuangJiApi.git
[submodule "YueChuangJiUI"]
	path = YueChuangJiUI
	url = https://github.com/Aurora-CX-65/YueChuangJiUI.git
